---
layout: archive
title: "Conferences and meetings"
permalink: /conferences/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<table>
  <tr class="list__item">
    <th>Event</th>
    <th>Date</th>
    <th>Location</th>
    {% assign sorted = (site.conferences | sort: 'daterange') | reverse %}
    {% for post in sorted %}
      {% include archive-single-conference.html %}
    {% endfor %}
  </tr>
</table>
